/**
 * The main css file for Asgar
 *
 * @package Asgar
 */
@charset "UTF-8";
/* entypo font */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
header {
	padding: 5px 20px;
	background: rgba(34,34,34,1);
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
    height: 35px;
}
header section {
    float: right;
    text-align: right;
    margin-top: 6px;
}
.logo {
    height: 30px;
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
}
.tagline {
    overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	float: right;
	margin-top: 3px;
	color: rgba(255, 255, 255, 1);
	text-shadow: #000 1px 2px 2px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header .avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(255,255,255,0.7);
    padding: 1px;
    vertical-align: top;
    height: 20px;
    width: 20px;
}
.nav-item { 
    cursor: pointer; 
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-shadow: #000 1px 2px 2px;
    margin: 0 5px;
    padding: 0 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    position: relative;
}
.nav-item:hover, 
.nav-item:focus { color: #00A256; }
.nav-item ul.nav-item-submenu {
    position: absolute;
    top: 23px;
    left: -6px;
    list-style-type: none;
    margin: 0;
    padding: 0 10px 5px 10px;
    background: rgba(34,34,34,1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: left;
    width: 100px;
    zoom: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    visibility: hidden;
    z-index: 10;
}
.nav-item:hover ul.nav-item-submenu,
.nav-item:focus ul.nav-item-submenu {
    zoom: 1; 
    opacity: 1; 
    filter: alpha(opacity=100);
    visibility: visible;
    color: #fff;
}
.nav-item ul.nav-item-submenu .nav-item-subitem {
    padding: 5px 0;
}
.nav-item .nav-item-icon,
.nav-item ul.nav-item-submenu .nav-item-subitem .nav-subitem-icon {
    width: 30px;
    display: inline-block;
}
.nav-item ul.nav-item-submenu .nav-item-subitem .nav-subitem-text { 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav-item ul.nav-item-submenu .nav-item-subitem .nav-subitem-text:focus,
.nav-item ul.nav-item-submenu .nav-item-subitem .nav-subitem-text:hover {
    color: #00A256;
}
.icon-spacer:before {
    padding: 5px;
    color: #fff;
    font-size: 1.3em;
}
.search-wrapper { 
    position: relative; 
    padding: 10px 0; 
}
.search-wrapper #search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: #d6d6d6;
}
.loading { 
    text-align: center; 
    margin: 10px 0;
}
.loading img {
    vertical-align: bottom;
    margin-bottom: 2px;
}
.tbox {
    position:absolute; 
    display:none; 
    padding:14px 17px; 
    z-index:900;
}
.tinner {
    padding:20px; 
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    outline: 0;
    border: 1px solid #acacac;
    border: 1px solid rgba(0,0,0,.333);
    background-image: url("../images/preload.gif");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.tmask {
    position:absolute; 
    display:none; 
    top:0; 
    left:0; 
    height:100%; 
    width:100%; 
    background:#fff; 
    z-index:800
}
.clean, .tclose {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("../images/modal_close.png");
    background-repeat: no-repeat;
}
.clean { top: 5px; right: 5px; }
.box_inner { text-align: justify; font-size: 0.9em; }
.box_inner h2 { margin: 5px 0; }